* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background: rgb(17 9 26) !important;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
}

/* ===========> faq  <============ */
.fontt {
  font-size: 32px !important;
  font-weight: 700;
}

.left-m {
  margin: 0px 170px;
  padding: 0px 32px 0px !important;
  color: #fafafa;
}

.containeer {
  padding-top: 32px;
  padding-right: 32px;
  padding-left: 32px;
  padding-bottom: 0px;
}

.faq-list {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
}

.faq-list li {
  margin-bottom: 8px;
}

.faq-list p {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
  color: #fafafa;
}

.faq-list p {
  line-height: 1.5;
}

/* ==============-> Header <================== */
/* background: linear-gradient(70deg,#11091a 0%, #1e0936 90%); /* check how it's look 135deg gradient */

.space {
  padding-left: 40px;
  padding-right: 40px;
}

.w-fulll {
  width: 100%;
}

.bg_background {
  --tw-bg-opacity: 1;
  background-color: hsl(268, 49%, 7%);
}

.z-50 {
  z-index: 50;
}

.top-0 {
  top: 0;
}

.sticky {
  position: sticky;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.flex-row {
  flex-direction: row;
}

.flex {
  display: flex;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem;
}

.navbar {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.nav-item a {
  color: whitesmoke;
  font-weight: 600;
  margin-left: 25px;
}

.nav a {
  font: azure;
}

.output {
  height: 100px;
  width: 100px;
  background-color: hsl(266, 47%, 7%, 1);
}

.w-32 {
  width: 100px;
  height: 100px;
}

.flex-col {
  flex-direction: column;
}

.justify-start {
  justify-content: flex-start;
}

.items-center {
  align-items: center;
}

.pt-4 {
  padding-top: 1rem;
}

.flex-grow {
  flex-grow: 1;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

/* =============>DELETE <============ */

.lable-text{
  font-size: 22px;
  color: #fafafa;
  margin-bottom: 25px;
  
}
.email-l{
  margin-right: 55px;
}
.pass{
  margin-right: 15px;
}
.delete-text{
  font-size: 55px !important;
}
.form-padd{
  padding:25px 25px;
}
.fix{
  border-radius: 4px;
  border: #3333ff;
  padding: 10px;
}
.d-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.delete-button{
  padding-bottom: 60px;
  padding-top: 20px;
}
/* ======================> MAIN  <==================== */
/* ===========> SECTION-1<================ */
.containerr {
  padding-top: 64px;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 0px;
}

.light-text {
  color: hsl(200, 90%, 65%, 1);
  margin-right: 7px;
}

.gap-8 {
  gap: 30px !important;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.-z-10 {
  z-index: -10;
}

.text-7xl {
  font-size: 4.5rem !important;
  line-height: 1;
  font-weight: 700 !important;
}

.gap-4 {
  gap: 1rem;
}

.text-left {
  text-align: left;
}

.text-primaryy {
  color: hsl(200, 90%, 65%, 1);
}

.fonnt {
  font-size: 1.5rem;
  color: whitesmoke;
}

.justify-right {
  justify-content: flex-end;
}

.font-p {
  color: #fafafa;
  font-size: 36px;
  font-weight: 700;
}

.justify-center {
  justify-content: center;
}

.h-8 {
  height: 4rem;
}

.h-12 {
  height: 1.5rem;
  width: fit-content;
}

.h-3 {
  height: 3rem;
}

.rounded-full {
  border-radius: 9999px;
}

.gap-2 {
  gap: .5rem;
}

.aspect-square {
  aspect-ratio: 1/1;
}

.bg-g {
  background-color: rgb(30, 32, 33, 1);
}

.pad-4 {
  padding-top: 4rem;
}

.text-l {
  font-size: 2.25rem;
  color: #fafafa;
  line-height: 2.5rem;
  font-weight: 700;
}

.font-sans {
  font-family: ui-sans-serif, system-ui, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji !important;
}

.from-accent {
  background-color: hsl(316, 82%, 45%, 1)
}

.img {
  height: 25px;
  width: 25px;
  margin-right: 15px;
}

.gap-32 {
  gap: 32px;
}

/* ==========> Google Play logo  <========== */
.btn-bg {
  /* background-color: rgba(255, 255, 255, 0.08)!important; */
  background-color: #ffffff0A !important;
  border-color: rgba(255, 255, 255, 0.08) !important;
  border-style: solid !important;
  border-radius: 10px !important;
  border-top-width: 1px !important;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  width: 100%;
  opacity: 1 !important;
  font-size: 18px !important;
  color: #fafafa !important;
  padding-left: 40px !important;
  padding-right: 40px !important;
}

.btn-ai {
  border: 1px solid #fafafa;
  border-radius: 9999px;
  padding: 5px 15px;
}

.opnai {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  margin-right: 5px;
}

.input-container {
  display: flex;
  max-width: auto;
  margin: 10px 0;
  justify-content: center;
}

input[type="text"] {
  flex-grow: 1;
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  border-radius: 30px 0 0 30px;
  outline: none;
}

.get-started-btn {
  padding: 12px 25px;
  font-size: 16px;
  color: white;
  background: linear-gradient(to right, #ff00cc, #3333ff);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: opacity 0.3s;
}

.get-started-btn:hover {
  opacity: 0.9;
}

/* ======================>   SECTION-2 <===================  */

/* ======================>   Four Partition <===================  */
.pad-top {
  padding-top: 30px;
}

.pad-bottom {
  padding-bottom: 30px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #1a1a1a;
  color: white;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  /* padding-top: 50px; */
}

h1 {
  text-align: center;
  font-size: 2.25em !important;
  margin-bottom: 40px;
  color: #fafafa;
  font-weight: 700 !important;
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.feature {
  width: 45%;
  margin-bottom: 30px;
  text-align: center;
  margin-bottom: 40px;
}

.icon {
  background-color: #3498db;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0 auto 20px;
}

.h3 {
  color: #fafafa;
  font-size: 20px;
}

h2 {
  font-size: 1.5rem !important;
  margin-bottom: 10px;
  color: #fafafa;
}

p {
  font-size: 1em;
  line-height: 1.5;
  color: #fafafa;
}

.how {
  margin-top: 50px;
}

body {
  background-color: #1a1a1a;
  color: white;
  font-family: Arial, sans-serif;
}

.gap-8 {
  gap: 2rem;
}

h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 30px;
}

.highlight {
  color: #00ccff;
}

/* ======================>   SECTION-3 <===================  */
.ln-hi8 {
  line-height: 40px;
}

.card_text {
  background-color: #11091a !important;
  color: #fafafa;
}

.clip-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

/* =============> original <=========== */
.clips {
  flex: 1;
  position: relative;
  border-radius: 15px;
  border: #fafafa 8px solid;
  overflow-y: scroll;
  background-color: #fff;
  height: 430px;
  margin: 0 40px;
}

.clips::-webkit-scrollbar {
  width: 8px;
  background-color: #fff;
  border-radius: 15px;
}

.clips::-webkit-scrollbar-track {
  border-radius: 15px;
  box-shadow: inset 0 0 6px rgb(17 9 26 / 35%);
}

.clips::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-color: #011c44 !important;
}

.clips img {
  width: 100%;
  display: block;
}

.arro-right {
  color: #fafafa;
  font-size: 80px;
  font-weight: 500;
}

.line-height {
  line-height: 100px;
}

.clip-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.clip {
  flex: 1;
  position: relative;
  border-radius: 15px;
  border: #fafafa 8px solid;
  overflow: hidden;
  height: 400px;
}

.clip img {
  width: 100%;
  height: auto;
  display: block;
}

.caption {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 10px;
  margin: 0;
  font-size: 14px;
  text-align: center;
  border-radius: 5px;
}

/* ========================> SECTION-5<======================== */
.pad-4 {
  margin-bottom: 10px;
}

.pad_4 {
  padding-top: 2rem;
}

.pad-5 {
  margin-bottom: 30px;
}

.feature-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.feature-list li {
  padding-left: 30px;
  position: relative;
  margin-bottom: 10px;
  color: white;
  font-family: Arial, sans-serif;
}

.feature-list li::before {
  position: absolute;
  left: 0;
  top: 0;
  color: white;
  font-weight: bold;
}

/* ===========================> SECTION-6 <============================= */
.check {
  font-size: 25px;
  margin-right: 12px;
  line-height: 10px;
}

.line_ht {
  line-height: 150px;
}

body {
  background-color: #1a1a1a;
  color: white;
  font-family: Arial, sans-serif;
}

.testimonials {
  text-align: center;
  padding: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.testimonial-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.testimonial-card {
  background-color: white;
  color: black;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  text-align: left;
  position: relative;
}

.quotes {
  color: #66ccff !important;
  font-size: 30px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.read {
  margin-bottom: 30px;
}

h3 {
  margin-top: 0;
  margin-bottom: 5px;
  margin-left: 20px;
}

.username {
  color: #666;
  margin-top: 0;
  margin-bottom: 15px;
}

.testimonial-text {
  font-size: 14px;
  line-height: 1.4;
}

/* ----------> FOOTER <-------- */
.justify-start {
  justify-content: flex-start;
}

.justify-left {
  justify-content: left;
}

.items-center {
  align-items: center;
}

.mt-16 {
  margin-top: 4rem;
}

.text-left {
  text-align: left;
}

a {
  text-decoration: none !important;
  color: whitesmoke !important;
}

.border-right {
  border-right: #fafafa 1px solid;
  line-height: 16px;
  padding-right: 15px;
  padding-left: 10px;
}

.container {
  max-width: 800px;
  margin: auto;
  overflow: hidden;
  padding: 0 20px;
}

h1 {
  text-align: center;
}

.content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.column {
  flex: 0 0 45%;
}

h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.footer {
  text-align: center;
  margin: 20px 0;
}

.how-it-works {
  background: #fff;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.how-it-works h2 {
  text-align: center;
  margin-bottom: 20px;
}

.steps {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.step {
  background: #eaeaea;
  padding: 10px;
  border-radius: 5px;
}

.step h3 {
  margin-top: 0;
}

/* ============> section-5 <============= */

.icon_1 {
  color: #fafafa;
  font-size: 48px;
}

/* ############################   1400px   ############################### */


@media (max-width:1400px) {}

/* ############################   1200px   ############################### */

@media (max-width:1200px) {
  .hero h2 span {
    font-size: 3.8rem;
  }

  .containerr {
    padding-top: 50px;
  }

  .fonnt {
    font-size: 1.2rem;
  }

  .gap-8 {
    gap: 20px !important;
  }

  .feature p {
    font-size: 14px;
  }

  .arro-right {
    font-size: 60px;
  }

}

/* ############################   992px   ############################### */

@media (max-width:992px) {

  .hero h2 span {
    font-size: 3rem;
  }

  .containerr {
    padding-top: 25px;
  }

  .fonnt {
    font-size: 0.9rem;
    margin: 0;
  }

  .btn-bg {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }

  .get-started-btn {
    padding: 10px 20px;
  }

  .btn-ai {
    font-size: 14px;
  }

  .pad-bottom {
    font-size: 28px !important;
  }

  .h3 {
    font-size: 1.2rem !important;
  }

  .feature {
    margin-bottom: 30px;
  }


  /* %%%%%%%%%%%%%%%%%%%%%%    FAQ    %%%%%%%%%%%%%%%%%%%%%%% */
  .left-m {
    margin: 0px 130px;
    padding: 0px 20px 0px !important;
  }

  .text-7xl {
    font-size: 3.5rem !important;

    font-weight: 650 !important;
  }
}

/* ############################   991px   ############################### */

@media (max-width:991px) {
  .navbar-menu-click {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
  }

  .feature {
    width: 44.9%;
  }

  .ln-hi8 {
    line-height: 30px;
  }

  .arro-right {
    font-size: 40px;
  }

  .clips {
    margin: 0 20px;
  }

  .ss_down {
    margin-top: 46px;
  }

  .pad_4 {
    padding-top: 0rem;
  }

  .pad-5 {
    margin-bottom: 19px;
    font-size: 2.0rem !important;
    font-weight: 700 !important;
  }

  .li-font {
    font-size: 0.9rem;
  }

  .check {
    font-size: 19px;
  }

  .testimonials {
    padding: 7px;
  }

  .faq-list p {
    line-height: 1.2;
  }

  .fontt {
    font-size: 22px !important;
    font-weight: 650;
  }

  .text-7xl {
    font-size: 2.2rem !important;
  }

  .left-m {
    margin: 0px 100px;
    padding: 0px 20px 0px !important;
  }

  .faq-list p {
    font-size: 14px;
    font-weight: 400;
  }

  .gap-4 {
    gap: 1.0rem !important;
  }
}

/* ############################   828px   ############################### */

@media (max-width: 828px) {

  .navbar-collapse {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navbar-nav {
    width: 100%;
    justify-content: center;
  }

  .navbar-nav .nav-item {
    text-align: center;
    width: auto;
  }

  .d-flex {
    display: flex;
    justify-content: center;
    width: auto;
  }

  .btn-primary {
    width: auto;
    text-align: center;
  }

  .btn-primary a {
    display: block;
    width: auto;
    text-align: center;
  }

  .hero h2 span {
    font-size: 2.5rem;
  }

  .feature p {
    font-size: 18px;
  }

  .fonnt {
    font-size: 14px;
    line-height: 25px;
  }

  .btn-bg {
    font-size: 14px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  .img {
    margin-right: 10px;
  }

  .h3_font {
    font-size: 1.2rem !important;
    margin-left: 9px;
  }

  .line-height {
    line-height: 1.5;
  }

  .pad-bottom {
    font-size: 20px !important;
    padding-bottom: 15px;
  }

  .get-started-btn {
    padding: 8px 16px;
    font-size: 14px;
  }

  .pad-top {
    padding-top: 15px;
  }

  .pad-bottom {
    padding-bottom: 20px;
  }

  .icon {
    margin: 0px auto 15px;
  }

  .li-font {
    font-size: 0.9rem;
    font-weight: 350;
  }

  .read {
    margin-bottom: 20px;
    font-size: 1.5rem !important;
  }

  .testimonial-card {
    width: 100%;
  }

  .navbar-brand img {
    height: 60px;
    width: 60px;
  }

  .navbar-nav {
    flex-direction: column;
    align-items: center;
  }

  .navbar-toggler {
    margin-bottom: 10px;
  }

  .navbar-collapse {
    justify-content: center;
  }


  input[type="text"] {
    border-radius: 30px;
    width: 100%;
  }

  .feature {
    width: 100%;
  }

  .features {
    flex-direction: column;
    align-items: center;
  }

  .testimonial-card {
    width: 100%;
  }

  .pad_4 {
    padding-top: 1rem;
  }

  .pad-5 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }

  .get-started-btn:hover,
  .btn-bg:hover {
    opacity: 0.9;
  }

  .img {
    height: 25px;
    width: 25px;
    margin-right: 15px;
  }
}

/* ############################   768px   ############################### */

@media (max-width: 768px) {
  .btn-bg {
    display: flex;
    align-items: center !important;
    justify-content: right !important;
    width: 50%;
    margin-bottom: 10px;
    font-size: 14px;
    padding: 10px;
  }

  .hero h2 span {
    font-size: 2.1rem;
  }

  .gap-8 {
    gap: 12px !important;
  }

  .flex {
    flex-direction: column;
  }

  .input-container {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .align-text-center {
    text-align: center;
  }

  .img {
    margin-right: 10px;
  }

  .gap-32 {
    gap: 12px;
  }

  .get-started-btn,
  .btn-bg {
    padding: 10px 16px;
    font-size: 14px;
  }

  .btn-bg {
    justify-content: center !important;
  }
}

/* ############################   576px   ############################### */
@media (max-width:576px) {
  .hero h2 span {
    font-size: 22px;
  }

  .hero .flex {
    align-items: center !important;
  }

  .hero .social a {
    width: 100% !important;
  }

  .hero .fonnt span {
    text-align: center;
  }
}

/* ############################   562px   ############################### */

/* %%%%%%%%%%%%%%%%%%%%   FAQ   %%%%%%%%%%%%%%%%%%%%% */
@media(max-width:562px) {
  .text-7xl {
    font-size: 2.1rem !important;
  }

  .left-m {
    margin: 0px 90px;
    padding: 0px 15px 0px !important;
  }

  .faq-list p {
    line-height: 1.1;
  }

  .fontt {
    font-size: 20px !important;
  }
}

/* ############################   550px   ############################### */

@media (max-width: 550px) {
  .testimonial-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Center align the cards horizontally */
    gap: 16px;
    /* Add space between the cards */
  }

  .testimonial-card {
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 20px;
    width: 70% !important;
    text-align: left;
    position: relative;
  }
}

/* %%%%%%%%%%%%%%%%% FAQ  %%%%%%%%%%%%%%%%%%% */

@media(max-width:530px) {

  .text-7xl {
    font-size: 2.5rem !important;
  }

  .faq-list p {
    line-height: 1.3;
  }

  .fontt {
    font-size: 18px !important;
    font-weight: 700 !important;
  }

  .left-m {
    margin: 0px 20px;
    padding: 0px 2px 0px !important;
  }

  .border-right {
    border-right: #fafafa 1px solid;
    line-height: 13px;
    padding-right: 10px;
    padding-left: 5px;
  }
}

/* ############################   390px and below   ############################### */

@media (max-width:390px) {
  .hero h2 span {
    text-align: center !important;
  }

  .testimonial-card {
    width: 90% !important;
  }

  .left-m {
    margin: 0px 0px;
    padding: 0px 0px 0px !important;
  }

  .text-7xl {
    font-size: 1.3rem !important;
  }

  .border-right {
    line-height: 11px;
    padding-right: 5px;
    font-size: 14px;
  }

  .border-rightt {
    font-size: 14px;
  }

  body {
    font-size: .8rem;
  }
}

@media(max-width:306px) {

  .left-m {
    margin: 0px 2px !important;
    padding: 0px 2px 0px !important;
  }

  .text-7xl {
    font-size: 1.3rem !important;
  }

  .faq-list p {
    font-size: 0.9rem;
    line-height: 1.2;
  }

  .fontt {
    font-size: 16px !important;
  }
}

@media(max-width:258px) {
  .left-m {
    margin: 0px 2px !important;
    padding: 0px 2px 0px !important;
  }

  .text-7xl {
    font-size: 1.3rem !important;
  }

  .faq-list p {
    font-size: 0.9rem;
    line-height: 1.2;
  }

  .fontt {
    font-size: 16px !important;
  }
}